Click
rdflib
sparqlwrapper
requests
connexion
Flask

# Testing Dependencies
pytest
coverage
pytest-cov
pytest-bdd

# Linting dependecies
flake8

# Documentation Dependencies
myst-parser
sphinx<3
sphinxcontrib-apidoc
