
{% import "macros.html" as mc %}

    {% set content, error = from_endpoint(conf.default_endpoint).with_query_from_file(conf.query_files["changed_property_class_hidden_label.rq"]).fetch_tabular() %}
    
{% if not content.empty %}
    {% call mc.render_fetch_results(content, error) %}
    {% set compress_uris = simplify_uri_columns_in_tabular(data_frame=content,namespace_inventory=namespaces,error_fail=False) %}
    
<h3 class="ui header">Changed hidden labels</h3>
<section class="ui basic segment">
    <p>The table below lists the changed <strong>skos:hiddenLabel</strong>
    </p>
    <p><strong>Query identifier:</strong> changed_property_class_hidden_label.rq</p>
    {{ mc.pandas_table(content, "Changed hidden label") }}
</section>
    
    {% endcall %}
{% endif %}
    