
{% import "macros.html" as mc %}

    {% set content, error = from_endpoint(conf.default_endpoint).with_query_from_file(conf.query_files["deleted_reified_concept_note_value.rq"]).fetch_tabular() %}
    
{% if not content.empty %}
    {% call mc.render_fetch_results(content, error) %}
    {% set compress_uris = simplify_uri_columns_in_tabular(data_frame=content,namespace_inventory=namespaces,error_fail=False) %}
    
    <h3 class="ui header">Deleted reified note</h3>
    <section class="ui basic segment">
        <p>The table below lists the deleted <strong>skos:note / rdf:value</strong>
        </p>
        <p><strong>Query identifier:</strong> deleted_reified_concept_note_value.rq</p>
        {{ mc.pandas_table(content, "Deleted reified note") }}
    </section>
    
    {% endcall %}
{% endif %}
    