{% import "macros.html" as mc %}

<h2 class="ui header">Added concepts</h2>
<section class="ui basic segment">
    <p>The table below lists the added <strong>concepts</strong>
    </p>

    {% set query_file = conf.query_folder_path ~ "added_instance_concepts.rq" %}
    {% set content, error = from_endpoint(conf.default_endpoint).with_query_from_file(query_file).fetch_tabular() %}
    {% call mc.render_fetch_results(content, error) %}
        {% if not content.empty %}
        {% set substituted_content = replace_strings_in_tabular(content,
                                        target_columns=['class', 'addedInstance'],
                                        value_mapping_dict=inverted_prefixes,
                                        mark_touched_rows=False ) %}
        {% endif %}
    {# TODO: need a function that adds a relative count column, so that we can see the percentage of classes #}
    {# {{ content["percentage"] = content["instances"]  / content["instances"].sum() }}#}
    {{ mc.pandas_table(content, "Overview") }}
    {% endcall %}


    {# TODO: class instiatiation overlaps and # shared instances   #}
    {# TODO: need for an agregation function over selected columns in a dataframe #}

</section>