
{% import "macros.html" as mc %}

    {% set content, error = from_endpoint(conf.default_endpoint).with_query_from_file(conf.query_files["moved_property_object_property_is_defined_by.rq"]).fetch_tabular() %}
    
{% if not content.empty %}
    {% call mc.render_fetch_results(content, error) %}
    {% set compress_uris = simplify_uri_columns_in_tabular(data_frame=content,namespace_inventory=namespaces,error_fail=False) %}
    
<h3 class="ui header">Moved is defined bys</h3>
<section class="ui basic segment">
    <p>The table below lists the moved <strong>rdfs:isDefinedBy</strong>
    </p>
    <p><strong>Query identifier:</strong> moved_property_object_property_is_defined_by.rq</p>
    {{ mc.pandas_table(content, "Moved is defined by") }}
</section>
    
    {% endcall %}
{% endif %}
    