
{% import "macros.html" as mc %}

    {% set content, error = from_endpoint(conf.default_endpoint).with_query_from_file(conf.query_files["updated_property_datatype_property_sub_property_of.rq"]).fetch_tabular() %}
    
{% if not content.empty %}
    {% call mc.render_fetch_results(content, error) %}
    {% set compress_uris = simplify_uri_columns_in_tabular(data_frame=content,namespace_inventory=namespaces,error_fail=False) %}
    
<h3 class="ui header">Updated sub property ofs</h3>
<section class="ui basic segment">
    <p>The table below lists the updated <strong>rdfs:subPropertyOf</strong>
    </p>
    <p><strong>Query identifier:</strong> updated_property_datatype_property_sub_property_of.rq</p>
    {{ mc.pandas_table(content, "Updated sub property of") }}
</section>
    
    {% endcall %}
{% endif %}
    