
{% import "macros.html" as mc %}

    {% set content, error = from_endpoint(conf.default_endpoint).with_query_from_file(conf.query_files["deleted_property_label_end_date.rq"]).fetch_tabular() %}
    
{% if not content.empty %}
    {% call mc.render_fetch_results(content, error) %}
    
<h3 class="ui header">Deleted end dates</h3>
<section class="ui basic segment">
    <p>The table below lists the deleted <strong>euvoc:endDate</strong>
    </p>
    <p><strong>Query identifier:</strong> deleted_property_label_end_date.rq</p>
    {{ mc.pandas_table(content, "Deleted end date") }}
</section>
    
    {% endcall %}
{% endif %}
    