{# Default way of showing errors #}
{% macro render_error(message) -%}
    <div class="ui icon message error">
        <i class="times circle icon"></i>
        <div class="content">
            <div class="header">
                Error
            </div>
            <p>{{ message|e }}</p>
        </div>
    </div>
{%- endmacro %}

{# Default macro for showing/wrapping the fetch results #}
{% macro render_fetch_results(content, error) -%}
    {% if error %}
        {{ render_error(error) }}
    {% else %}
        {% if content is undefined %}
            {{ render_error("Some content expected but none was found.") }}
        {% else %}
            {{ caller() }}
        {% endif %}
    {% endif %}
{%- endmacro %}


{% macro pandas_table(df, caption, column_labels={}) -%}
    {% if (df is defined) and (df is not none) %}
        {% set df = df.fillna(value="") %}
        <table class="display">
            <thead class="center aligned">
                <tr>
                    {% for column in df.columns %}
                        {% if not (column.endswith('Lang') or column == 'actionType') %}
                            <th>{{ column_labels.get(column, column) }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for idx, row in df.iterrows() %}
                    <tr>
                        {% for colname in df.columns %}
                            {% if not (colname.endswith('Lang') or colname == 'actionType') %}
                                {# handle decimal format: float, float64, float32 #}
                                {% if 'float' in (df.dtypes[colname] | string) %}
                                    <td class="left aligned collapsing">{{ row[colname] | round(precision=2) }}</td>
                                {% else %}
                                    {% set lang_colname = colname ~ 'Lang' %}
                                    {% if lang_colname in df.columns and row[lang_colname] != '' %}
                                        <td>{{ row[colname] ~ '@' ~ row[lang_colname] }}</td>
                                    {% else %}
                                        <td>{{ row[colname] }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            <caption>{{ caption }}</caption>
        </table>
    {% else %}
        {{ render_error("How did you get here? Did you forget to use 'render_fetch_results' macro?") }}
    {% endif %}
{%- endmacro %}



{% macro count_value(df) %}
    {% for idx, row in df.iterrows() %}

        {% for colname in df.columns %}
            <td>{{ row[colname] }}</td>

        {% endfor %}

    {% endfor %}
{% endmacro %}

{% macro render_namespaces(namesapces_dist) %}
    <table class="display">
        <thead class="center aligned">
        <tr>
            <th>Namespace</th>
            <th>URI</th>
        </tr>
        </thead>
        <tbody>
        {% for prefix, uri in namesapces_dist|dictsort %}
            <tr>
                <td>{{ prefix }}</td>
                <td>{{ uri }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <caption>Prefixes</caption>
    </table>
{% endmacro %}